<div *ngIf="activeChart === 'total'" class="chart-container">
  <h3>Total GameWeek Points</h3>
  <canvas baseChart
          [data]="totalPointsChart"
          [options]="chartOptions"
          [type]="'line'">
  </canvas>
</div>

<div *ngIf="activeChart === 'captain'" class="chart-container">
  <h3>Captain Points</h3>
  <canvas baseChart
          [data]="captainPointsChart"
          [options]="chartOptions"
          [type]="'line'">
  </canvas>
</div>

<div *ngIf="activeChart === 'bench'" class="chart-container">
  <h3>Bench Points</h3>
  <canvas baseChart
          [data]="benchPointsChart"
          [options]="chartOptions"
          [type]="'line'">
  </canvas>
</div>
